#leftCol {
    background-color: rgb(173, 169, 169);
    overflow: auto;
}
#midCol {
    background-color: rgb(226, 226, 226);
    overflow: auto;
}
#rightCol{
    background-color: rgb(255, 255, 255);
    overflow: auto;
}
.margin10 {
    margin: 10px;
}
.emailBoxBorder {
    border-style: solid;
    border-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 5px 5px 5px 0px;
    padding: 5px;
}

p {
    font-size: small;
}
.btns {
    background-color: #4C2200;
}

.floatRight{
    float: right;
}

.marginPadding10 {
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

.floatLeft {
    float:left;
}

